body{
    background-color:rgb(22, 1, 1);
}
div{
text-align: center;
margin: 30px;
}
h2{
    color: antiquewhite;
}
main{
    display: flex;
    justify-content:center;
}
img{
    justify-content: center;
    margin-right: 30px;
}
.bada{
    transition: 0.3s;
    border: 5px solid;
}
.bada:hover{
    width: 600px;
    height: 600px;
    transition: 0.3s;
    border-left: 100px solid;
    border-right: 100px solid;
}
.lambu{
    border: 5px solid;
    transition: 0.3s;
}
.lambu:hover{
    border-left: 500px solid;
    border-right: 500px solid;
    transition: 0.3s;
}
#valcards{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: aqua;
}
#head{
    border: 10px solid greenyellow;
    border-radius: 20%;
}